#Role_Management_CRUD .choices * {
  transition: none !important;
}
#Role_Management_CRUD .choices .choices__list--multiple .choices__item {
  border-radius: 5px !important;
  background-color: #319db5 !important;
  border: none !important;
}
